@using PlayDeckRazor.Model
@model GameViewModel

@* Displays details about a game entry *@

@{
    if (ViewData["GameView"] is Game g)
    {
        <div id="info-panel" class="game-info d-flex flex-column">
            <div class="game-info-header d-flex">
                <div style="margin-top: 1vw; margin-right: 1vw">
                    @{
                        if (g.Favourite)
                        {
                            <form id="fav-change-form" method="post" x-on:submit.prevent="toggleFavGameView(@g.ID)" asp-page-handler="togglefavgameview">
                                <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                <input asp-for="ToggleFavourite" class="form-control" value="true" type="hidden"/>
                                <button class="heart-button bi bi-heart-fill heart-checked"
                                        type="submit"
                                        x-on:submit.prevent="{}"
                                        title="Toggle favourite">
                                </button>
                            </form>
                        }
                        else
                        {
                            <form id="fav-change-form" method="post" x-on:submit.prevent="toggleFavGameView(@g.ID)" asp-page-handler="togglefavgameview">
                                <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                <input asp-for="ToggleFavourite" class="form-control" value="true" type="hidden"/>
                                <button class="heart-button bi bi-heart heart-unchecked"
                                        type="submit"
                                        x-on:submit.prevent="{}"
                                        title="Toggle favourite">
                                </button>
                            </form>
                        }
                    }
                </div>
                <h1>@g.Title</h1>


            </div>
            @{
               @* Star Rating Display *@
                if (g.Rating != null)
                {
                    <div class="d-flex" style="gap: 1vw">
                        @{
                            for (int i = 1; i < 11; i++)
                            {
                                if (i <= @g.Rating) @* Filled stars *@
                                {
                                    <form x-data="{formID: @i}" id="star-form-@i" method="post" x-on:submit.prevent="changeRating(formID, @g.ID)" asp-page-handler="ratingchange">
                                        <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                        <input asp-for="RatingChange" class="form-control" value="@i" type="hidden"/>
                                        <button class="star-button bi bi-star-fill checked"
                                                type="submit"
                                                x-on:submit.prevent="{}"
                                                title="@i /10">
                                        </button>
                                    </form>
                                }
                                else @* Empty stars *@
                                {
                                    <form x-data="{formID: @i}" id="star-form-@i" method="post" x-on:submit.prevent="changeRating(formID, @g.ID)" asp-page-handler="ratingchange">
                                        <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                        <input asp-for="RatingChange" class="form-control" value="@i" type="hidden"/>
                                        <button class="star-button bi bi-star unchecked"
                                                type="submit"
                                                x-on:submit.prevent="{}"
                                                title="@i /10">
                                        </button>
                                    </form>
                                }
                    
                            }
                        }
                    </div>
                
                }
                else @* If no rating, display 10 empty stars *@
                {
                    <div class="d-flex" style="gap: 1vw">
                        @{
                            for (int i = 1; i < 11; i++)
                            {
                                <form x-data="{formID: @i}" id="star-form-@i" method="post" x-on:submit.prevent="changeRating(formID, @g.ID)" asp-page-handler="ratingchange">
                                    <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                    <input asp-for="RatingChange" class="form-control" value="@i" type="hidden"/>
                                    <button class="star-button bi bi-star unchecked"
                                            type="submit"
                                            x-on:submit.prevent="{}"
                                            title="@i /10">
                                    </button>
                                </form>
                            } 
                        }
                    </div>
                }
               
               @* Game Details Display *@
                <div class="d-flex" style="gap: 1vw; margin-top: 2vw">
                    <div class="d-flex flex-column" style="gap: 2vw; width: 17vw;">
                        <div class="d-flex" style="gap: 1vw;">
                            @{
                                if (g.PlayStatus == 1) @* Game has been completed *@
                                {
                                    <form id="playstatus-form" method="post" x-on:submit.prevent="changePlayStatus(@g.ID)" asp-page-handler="changeplaystatus">
                                        <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                        <input asp-for="PlayStatusChange" class="form-control" value="0" type="hidden"/>
                                        <button class="trophy-button bi-trophy-fill trophy-checked"
                                                type="submit"
                                                x-on:submit.prevent="{}"
                                                title="Toggle complete status">
                                        </button>
                                    </form>
                                    <h2 class="play-status-text">Complete</h2>
                                }
                                else
                                {
                                    <form id="playstatus-form" method="post" x-on:submit.prevent="changePlayStatus(@g.ID)" asp-page-handler="changeplaystatus">
                                        <input asp-for="GameID" class="form-control" value="@g.ID" type="hidden"/>
                                        <input asp-for="PlayStatusChange" class="form-control" value="1" type="hidden"/>
                                        <button class="trophy-button bi-trophy trophy-unchecked"
                                                type="submit"
                                                x-on:submit.prevent="{}"
                                                title="Toggle complete status">
                                        </button>
                                    </form>
                                    <h2 class="play-status-text">Unfinished</h2>
                                }
                            }
                        </div>
                       
                        @{
                            if (g.PlayTime > 0)
                            {
                                <h3>Play time: @(g.PlayTime)h</h3>
                            }
                            else
                            {
                                <h3>Play time: None</h3>
                            }
                        }

                        @{
                            if (g.LastPlayed != null)
                            {
                                <h3>Last Played: @g.LastPlayed?.ToShortDateString()</h3>
                            }
                            else
                            {
                                <h3>Last Played: Never</h3>
                            }
                        }
                       
                       
                        <a class="edit-details-button btn" data-bs-toggle="modal" data-bs-target="#delete-modal" title="Edit game details" x-on:click="GetGameDetails(@g.ID); mode = 'edit'">Edit Details</a>
                    </div>
                   
                               
                    <div class="d-flex flex-column" style="gap: 2vw;">
                        <div class="d-flex">
                            @{
                                string s = "None";
                                switch (g.DeckID)
                                {
                                    case 0:
                                        s = "My Collection";
                                        break;
                                    case 1:
                                        s = "Currently Playing";
                                        break;
                                    case 2:
                                        s = "Complete";
                                        break;
                                    case 3:
                                        s = "Wishlist";
                                        break;
                                }
                                <h3 style="margin-top: 8px">Deck: @s</h3>
                                <h3 class="deck-link-container" title="View all cards in deck"><a id="deck-link" class="deck-link bi bi-arrow-right-square-fill" href="/Decks/View/@g.DeckID/@s"></a></h3>
                               
                            }
                        </div>
                       
                        @{
                            if (g.StartDate != null)
                            {
                                <h3>Start Date: @g.StartDate?.ToShortDateString()</h3>
                            }
                            else
                            {
                                <h3>Start Date: Unknown</h3>
                            }
                        }
                        @{
                            if (g.PlayStatus == 1 && g.CompleteDate != null)
                            {
                                <h3>Complete Date: @g.CompleteDate?.ToShortDateString()</h3>
                            }
                            else if (g.PlayStatus == 1 && g.CompleteDate == null)
                            {
                                <h3>Complete Date: Unknown</h3>
                            }
                        }
                       
                        <button class="delete-button btn" type="button" data-bs-toggle="modal" data-bs-target="#delete-modal" title="Delete game" x-on:click="setInfo(@g.ID, `@g.Title`); mode = 'delete'">Delete</button>
                    </div>
                </div>
            }

        </div> 
    }
    
}